[access]
	inheritFrom = chromium/deps
[submit]
	action = rebase always
[access "refs/for/refs/*"]
	addPatchSet = group mdb/alcatraz-eng
	forgeAuthor = group mdb/alcatraz-eng
[access "refs/heads/*"]
	abandon = group mdb/alcatraz-eng
	label-Code-Review = -1..+1 group mdb/alcatraz-eng
	submit = group mdb/alcatraz-eng
